name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v22

      - name: Setup Cachix
        uses: cachix/cachix-action@v12
        with:
          name: gaelreyrol

      - name: Run Dhall linter
        run: nix develop --command dhall lint dhall/**/*.dhall

      - name: Run Formatter check
        run: nix fmt . -- --check

      - name: Run Flake check
        run: nix flake check

  deploy:
    needs: lint
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v22

      - name: Setup Cachix
        uses: cachix/cachix-action@v12
        with:
          name: gaelreyrol

      - name: Build website package
        run: nix build

      - name: Deploy website build
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./result